---
layout: default
---

<main>
    <div class="content-container">
        <h1>
            {{ site.title }}
        </h1>
        <p>
            {{ site.description }}
        </p>

        <section>
            {{ content }}
        </section>

        <section class="my-posts">

            <h2>
                Recent Blog Posts
            </h2>

            {% for post in site.posts %}
                {% if post.categories contains 'blog' %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <article class="article-loop">
                            <h3>
                                {{ post.title }}
                            </h3>
                            <div class="flex-info">
                                <p>
                                    {{ post.date | date: "%B %d, %Y" }}
                                </p>
                            </div>
                            {{ post.excerpt | strip_html | truncate: 150 }}
                        </article>
                    </a>
                {% endif %}
            {% endfor %}
    
            </section>

            <section>
                <h2>
                    Projects
                </h2>

                {% for post in site.posts %}
                    {% if post.categories contains 'projects' %}
                        <a href="{{ post.url | prepend: site.baseurl }}">
                        <article class="article-loop">
                            <h3>
                                {{ post.title }}
                            </h3>
                            <div class="flex-info">
                                <p>
                                    {{ post.date | date: "%B %d, %Y" }}
                                </p>
                            </div>
                            {{ post.excerpt | strip_html | truncate: 150 }}
                        </article>
                    </a>
                    {% endif %}
                {% endfor %}
            </section>
    </div>
</main>