---
layout: default
---

{% assign posts_source = site.sanity_posts %}
{% if posts_source == empty %}
    {% assign posts_source = site.posts %}
{% endif %}

<main>
    <div class="content-container">
        <h1>
            {{ site.title }}
        </h1>
        <p>
            {{ site.description }}
        </p>

        <section>
            {{ content }}
        </section>

        <section class="my-posts">

            <h2>
                Recent Blog Posts
            </h2>

            {% assign blog_posts = posts_source | where_exp: "post", "post.categories contains 'blog'" %}
            {% assign blog_posts = blog_posts | sort: "date" | reverse %}
            {% for post in blog_posts %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <article class="article-loop">
                        <h3>
                            {{ post.title }}
                        </h3>
                        <div class="flex-info">
                            <p>
                                {{ post.date | date: "%B %d, %Y" }}
                            </p>
                        </div>
                        {{ post.excerpt | strip_html | truncate: 150 }}
                    </article>
                </a>
            {% endfor %}
    
            </section>

            <section>
                <h2>
                    Projects
                </h2>

                {% assign project_posts = posts_source | where_exp: "post", "post.categories contains 'projects'" %}
                {% assign project_posts = project_posts | sort: "date" | reverse %}
                {% for post in project_posts %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <article class="article-loop">
                            <h3>
                                {{ post.title }}
                            </h3>
                            <div class="flex-info">
                                <p>
                                    {{ post.date | date: "%B %d, %Y" }}
                                </p>
                            </div>
                            {{ post.excerpt | strip_html | truncate: 150 }}
                        </article>
                    </a>
                {% endfor %}
            </section>
    </div>
</main>
